{% extends "layouts/base.html" %}

{% block content %} 
  <form class="flex flex-col gap-4" method="POST">
    {% csrf_token %}

    <input type="text" name="username" id="username" placeholder="Username:">
    <input type="password" auto-complete="new-password" name="password1" id="id_password1" placeholder="Password:">
    <input type="password" auto-complete="new-password" name="password2" id="id_password2" placeholder="Confirm password:">

    <button type="submit">Register</button>
  </form>
{% endblock %}
