@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: dotted 1px white; */
}

@layer base {
  header,
  main,
  footer {
    @apply p-4;
  }

  a {
    @apply no-underline transition-colors hover:text-emerald-500;
  }
}
