{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'css/output.css' %}">

    <title>ASCII Djenerator</title>
  </head>

  <body class="w-screen min-h-screen flex flex-col bg-gray-900 text-indigo-400">
    <header class="flex justify-between">
      <h1><a href="{% url 'home' %}">a.dj</a></h1>

      <nav>
        <ul class="flex gap-8">
          {% if user.is_authenticated %}
            <li>
              <span class="text-indigo-400">Welcome, {{ user }}!</span>
            </li>
            <li>
              <a href="{% url 'logout' %}">Log Out</a>
            </li>
          {% else %}
            <li><a href="{% url 'register' %}">Register</a></li>
            <li><a href="{% url 'login' %}">Log in</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <main class="grow grid place-content-center">
      {% block content %}{% endblock content %}
    </main>

    <footer class="text-center opacity-40">
      INF-601 Final Project | Krushil Naik
    </footer>
  </body>
</html>
